nav{
    background-color: white;
    width: 360px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 22px;
    
    margin-left: 70%;
}
nav > a{
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;

}
nav > a:hover{
    transition:1s;
    background: rgb(56,130,209);
    color:white;
    
}
.img1{
    margin-left:60%;
    margin-top: 60px;
    border-radius: 50px;

}

.h1{
    margin-top:-25%;
    margin-left: 16%;
}
h2{
    margin-left: 16%; 
}
p{
    margin-left: 16%;
    width: 30%;
    height: 20px;
   
}
.img2{
    margin-left: 10%;
    width: 90px;
    justify-content: space-between;
    padding-right: -90%;
padding-left: 5%;
margin-right: -11%;
padding-top: 25px;



}
.img3{
    margin-left: 10%;
    width: 71px;
    padding-left: -80px;
    justify-content: space-between;
padding-right: -90%;
margin-right: -10%;
padding-top: 33px;
}
.img4{
    margin-left: 10%;
    width: 60px;
    margin-right: -10%;
    justify-content: space-between;

    
    
}
.img5{
    margin-left: 10%;
    width: 60px;
    margin-right: -10%;
    border-radius: 40px;
    
}
.btn1{
    margin-bottom: 40px;
    margin-left: 16%;
    border-radius: 30px;
   padding: 10px;
   transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.btn2{
    margin-left: 16%;
    border-radius: 30px;
    padding: 11px;
    width: 7%;

}
.img1{
    width: 30%;
    border-radius: 55%;
    box-shadow: 2px 3px 10px ;
    animation: bounce 1s infinite alternate;
    animation-name:;

}
.btn1:hover{
    transition:1s;
    background: rgb(56,130,209);
    color:white;
    
}
.btn2:hover{
    transition:1s;
    background: rgb(56,130,209);
    color:white;
    
}
.text-animation{
    color:black;
    border-radius: 3px solid orangered ;
    width: 0;
    white-space: nowrap;
    overflow:hidden;
    animation: typing steps(20,end)forwards
    infinite 8s;
}
@keyframes typing{
    10%{
    width: 0;
    }
    50%{
    width: 100%;
    }
}

  
  